@import "tailwindcss";

html,
body,
#app {
  height: 100%;
  margin: 0;
  overflow: hidden;
  /* Prevent scrolling for the game view */
  background-color: #111;
  /* Dark background */
  color: white;
}